@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --lightest-navy: #233554;
  --light-navy: #112240;
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #ccd6f6;
  --lightest-slate: #a8b2d1;
  --theme-color: #9d00ff;
  --toastify-color-dark: #1e2d47 !important;
}

::-moz-selection {
  color: white;
  background: var(--theme-color);
}

::selection {
  color: white;
  background: var(--theme-color);
}

html,
body {
  scroll-behavior: smooth !important;
}
html {
  scroll-padding-top: 120px;
}
body {
  counter-reset: title;
}

main {
  transition: 0.3s ease-in-out;
}

.blur {
  filter: blur(10px);
  pointer-events: none;
  user-select: none;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--dark-slate) var(--background-color);
}
::-webkit-scrollbar {
  width: 0px;
}

.btn {
  @apply py-3 px-5 rounded-lg text-white hover:text-slate-200 hover:scale-110 font-semibold;
  transition: 0.3s all ease-in-out;
}

.menuTransition {
  transition: 0.4s all ease-in-out;
}
.LanguageSelectorMenu::-webkit-scrollbar {
  height: 100%;
  width: 13px !important;
}
.LanguageSelectorMenu::-webkit-scrollbar-thumb {
  @apply bg-indigo-500 rounded-md;
}
.LanguageSelectorMenu::-webkit-scrollbar-track {
  background-color: transparent;
}
.paddings {
  padding: 1.5rem;
}

.innerWidth {
  width: 100%;
}

.flexCenter {
  display: flex;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.whatsapp-button {
  position: fixed;
  bottom: 70px;
  right: 29px;
  height: 70px;
  background: rgba(137, 189, 73, 0.25);
  border: none;
  -webkit-box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
  -webkit-border-radius: 100%;
  border-radius: 100%;
  color: #fff;
  padding: 0;
  padding-right: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 99;
  font-size: 0;
  font-weight: bold;
  color: #fff !important;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.whatsapp-button i.icon {
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #722ffb;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 10px 0 10px 10px;
  -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
}
.whatsapp-button i.icon svg {
  height: 30px;
  position: relative;
  bottom: 1px;
}
.whatsapp-button i.icon:after {
  content: "";
  position: fixed;
  display: block;
  height: 70px;
  width: 70px;
  background: rgb(97 100 255 / 40%);
  z-index: -1;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  @apply animate-pulse;
}
.whatsapp-button i.icon svg path {
  fill: #fff;
}

/* media queries */

@media (min-width: 640px) {
  .paddings {
    padding: 4rem;
  }
}
@media (max-width: 640px) {
  .hero-circle {
    top: 150px !important;
  }
}

@media (min-width: 1280px), (min-width: 768px) {
  .paddings {
    padding: 2rem;
  }
}
